body {
    background: linear-gradient(to right, #fdfafd, #eadeeb, #e2c0de);
}

.container {
    width: 100%;
}

.cont-btn {
    padding: 5px;
    width: 150px;
    background-color: #e2c0de;
    border: 3px solid #ad7ba4;
    border-radius: 5px;
}

.start-btn {
    padding: 5px;
    width: 150px;
    background: linear-gradient(to right, #806fbd, #df84e2);
    border: none;
    border-radius: 5px;
}

span {
    color: rgb(177, 61, 177);
}